.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  font-family: 'Poppins', sans-serif;


}
.App > * {
  flex: 1 100%;
}
